In [1]:
# Dependencies
import pandas as pd
from bs4 import BeautifulSoup
import requests
# from splinter import Browser
from urllib.parse import urlsplit
import os 
import time

In [2]:
# path to chrome driver
executable_path = {'executable_path': 'chromedriver.exe'}
# browser = Browser('chrome', **executable_path, headless=False)

In [3]:
#create list of urls 
x = range(1, 20000, 1)   #[1,2,3,4,5]
urls = []
for y in x:
    urlss = 'https://www.ouedkniss.com/store/contact.php?id='+ str(y)
#     print(urlss)
    
    webs = urls.append(urlss)

# print (urls)

In [4]:

Name = []
Address = []
Phone = []
Email = []

record = 0

# Retrieve page with the requests module
for url in urls:
    response = requests.get(url)
    # Create BeautifulSoup object; parse with 'html.parser
    soup = BeautifulSoup(response.text, 'html.parser')
    # Examine the results, then determine element that contains sought info
    # print(soup.prettify())
    results = soup.find("div",id = "footer_store")
#     print (results)
#     try:
#         store_phone = results.find_all('span', class_ = 'store_info')[1].text.replace('Téléphone :','')
#         print("Phone :"+ store_phone)
#     except: #(KeyError, IndexError):
#         print("n/a")
    
    
#     print(results)
    record = record+1
    print(" ")
    print(" ")
    print("Store # : "+ str(record))
    print("----------------------------------------")
    
    try:
        store_name = results.find('span', id = 'store_name').text
        print("Store Name/Type" +" : " + store_name)
    except:
#         store_name = str("n/a")
        print("n/a") 
    
    
    try:
        store_address = results.find_all('span', class_ = 'store_info')[0].text.replace('\n\t\t\t\t\t\t\t','').replace('\n', '')
        print('Address : ' + store_address)
    except: #(KeyError, IndexError):
        store_address = str("n/a")
        print("Address: n/a")  
    
    
    try:
        store_phone = results.find_all('span', class_ = 'store_info')[1].text.replace('Téléphone :','')
        print("Phone :  "+ store_phone)
    except: #(KeyError, IndexError):
        store_phone = str("")
        print("Phone: n/a")
       
    
    try:
        store_email = results.find_all('span', class_ = 'store_info')[2].text.replace('Email :','')
        print("Email : "+ store_email)
    except: #(KeyError, IndexError):
        store_email = str("")
        print("Email: n/a")
    
    

#append the results to lists in order to create a dateframe
    
    Name.append(store_name)
    Address.append(store_address)
    Phone.append(store_phone)
    Email.append(store_email)

Store # : 1
----------------------------------------
Store Name/Type : Zenzla
Address : kouba - Kouba Alger
Phone: n/a
Email: n/a


Store # : 2
----------------------------------------
Store Name/Type : informatique
Address : kouba - Kouba Alger
Phone :   0771882183
Email :  garididjamel@gmail.com


Store # : 3
----------------------------------------
Store Name/Type : Carrefour de L'Immobilier
Address : Coopérative El Mahdia Batiment : C  N° 6 les Vergers Bir Mourad Rais -
Phone :   0552050210
Email :  carrefourimmobilier1996@gmail.com


Store # : 4
----------------------------------------
Store Name/Type :
Address :
Phone: n/a
Email: n/a


Store # : 5
----------------------------------------
Store Name/Type :
Address :
Phone: n/a
Email: n/a


Store # : 6
----------------------------------------
Store Name/Type :
Address :
Phone: n/a
Email: n/a


Store # : 7
----------------------------------------
Store Name/Type :
Address :
Phone: n/a
Email: n/a


Store # : 8
----------------------------------------
Store Name/Type :
Address :
Phone: n/a
Email: n/a


Store # : 9
----------------------------------------
Store Name/Type :
Address :
Phone: n/a
Email: n/a

In [5]:
# #Test zone
# print(Name)
# print(Address)
# print(Phone)
# print(Email)

In [6]:
#DataFrame
ouedkniss_info = pd.DataFrame({'Names':Name, 'Adress': Address, 'Phone':Phone, 'Email': Email})
ouedkniss_info

,Names,Adress,Phone,Email
0,Zenzla,kouba - Kouba Alger,,
1,informatique,kouba - Kouba Alger,0771882183,garididjamel@gmail.com
2,Carrefour de L'Immobilier,Coopérative El Mahdia Batiment : C N° 6 les V...,0552050210,carrefourimmobilier1996@gmail.com
3,,,,
4,,,,
5,,,,
6,,,,
7,,,,
8,,,,

In [9]:
# oued = ouedkniss_info.dropna(subset=['Email'], inplace=True)

filter = ouedkniss_info["Email"] != ""

In [10]:
dfNew = ouedkniss_info[filter]

dfNew

,Names,Adress,Phone,Email
1,informatique,kouba - Kouba Alger,0771882183,garididjamel@gmail.com
2,Carrefour de L'Immobilier,Coopérative El Mahdia Batiment : C N° 6 les V...,0552050210,carrefourimmobilier1996@gmail.com